.page {
    background-color: #2A2C2F;
    font-family: "Inter";
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    position: relative;
    margin: 0 auto 0;
}